/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; /* Project id 5061369 */
  src: url('//at.alicdn.com/t/c/font_5061369_56z7mbrisiw.woff2?t=1765334306417') format('woff2'),
       url('//at.alicdn.com/t/c/font_5061369_56z7mbrisiw.woff?t=1765334306417') format('woff'),
       url('//at.alicdn.com/t/c/font_5061369_56z7mbrisiw.ttf?t=1765334306417') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenleiorguangchangorqita:before {
  content: "\e655";
}

.icon-gongkai:before {
  content: "\e653";
}

.icon-yinsibaohu:before {
  content: "\e99b";
}

.icon-a-fabufeihangzhifeiji:before {
  content: '\e64d';
}

.icon-jinggao-L:before {
  content: '\e64a';
}

.icon-icon1:before {
  content: '\e694';
}

.icon-huiyuan1:before {
  content: '\e649';
}

.icon-duigou:before {
  content: '\e646';
}

.icon-jubao:before {
  content: '\e645';
}

.icon-volume-up:before {
  content: '\e91a';
}

.icon-suijibofang:before {
  content: '\e641';
}

.icon-volume-off:before {
  content: '\e6f5';
}

.icon-danquxunhuan:before {
  content: '\e644';
}

.icon-aixin:before {
  content: '\e83f';
}

.icon-aixin1:before {
  content: '\e85c';
}

.icon-diamond:before {
  content: '\e67f';
}

.icon-Diamond:before {
  content: '\e636';
}

.icon-wusunyinzhi:before {
  content: '\e635';
}

.icon-zhuanjiguangpan:before {
  content: '\e64b';
}

.icon-shijian:before {
  content: '\e61e';
}

.icon-gengduo:before {
  content: '\e73a';
}

.icon-bofang3:before {
  content: '\e61f';
}
.icon-delete:before {
  content: '\e607';
}
.icon-collect-filled:before {
  content: '\e661';
}
.icon-jijianfasong-xianxing:before {
  content: '\e893';
}

.icon-jijianfasong:before {
  content: '\e894';
}

.icon-next:before {
  content: '\e622';
}

.icon-zanting2:before {
  content: '\e87a';
}

.icon-lishi:before {
  content: '\e654';
}

.icon-heart-fill:before {
  content: '\e849';
}

.icon-zanting3:before {
  content: '\e631';
}

.icon-mofabi:before {
  content: '\e6db';
}

.icon-xiaotieshi:before {
  content: '\e652';
}

.icon-next1:before {
  content: '\e632';
}

.icon-attachent:before {
  content: '\e837';
}

.icon-robot-3-line:before {
  content: '\e7a2';
}

.icon-sparkle:before {
  content: '\e6e8';
}

.icon-text_collapse:before {
  content: '\e719';
}

.icon-fanhui1:before {
  content: '\e64e';
}

.icon-wenti:before {
  content: '\e8bb';
}

.icon-naozhong:before {
  content: '\e890';
}

.icon-wenti1:before {
  content: '\e6e2';
}

.icon-jiazai:before {
  content: '\e699';
}

.icon-youjiantou:before {
  content: '\e61d';
}

.icon-zhongzhi:before {
  content: '\e657';
}

.icon-yanjing:before {
  content: '\e8bf';
}

.icon-jinggao:before {
  content: '\e61c';
}

.icon-chuangyikongjianICON_fuzhi-:before {
  content: '\e671';
}

.icon-shujuguanli:before {
  content: '\e68b';
}

.icon-shangsheng:before {
  content: '\e750';
}

.icon-paihangbang:before {
  content: '\e7fe';
}

.icon-blob:before {
  content: '\e7cf';
}

.icon-shouyediqiu:before {
  content: '\e6d6';
}

.icon-print-view:before {
  content: '\e61b';
}

.icon-fanhui:before {
  content: '\e650';
}

.icon-rili:before {
  content: '\e608';
}

.icon-liwu:before {
  content: '\e60a';
}

.icon-shouji:before {
  content: '\e60c';
}

.icon-huangguan:before {
  content: '\e60d';
}

.icon-qunfengtouxiang:before {
  content: '\e6b5';
}

.icon-touxiang:before {
  content: '\e60e';
}

.icon-xiazai2:before {
  content: '\e648';
}

.icon-icon-test:before {
  content: '\e6e0';
}

.icon-erji:before {
  content: '\e617';
}

.icon-wanshanxinxi:before {
  content: '\e618';
}

.icon-yinle2:before {
  content: '\e63f';
}

.icon-xunzhang:before {
  content: '\e68e';
}

.icon-xiaohuatuijianxuanzhong:before {
  content: '\e616';
}

.icon-ic_zanting:before {
  content: '\e697';
}

.icon-duoxunhuan:before {
  content: '\e621';
}

.icon-lianxi2hebing-15:before {
  content: '\e630';
}

.icon-bofang2:before {
  content: '\e634';
}

.icon-zanting1:before {
  content: '\e62f';
}

.icon-dayuhao:before {
  content: '\e62d';
}

.icon-xiaoyuhao:before {
  content: '\e62e';
}

.icon-baocun:before {
  content: '\e63d';
}

.icon-bianji-copy-copy:before {
  content: '\e615';
}

.icon-shanchu1:before {
  content: '\e607';
}

.icon-chakanquanbu:before {
  content: '\e696';
}

.icon-bofangliang:before {
  content: '\e8d8';
}

.icon-lujing:before {
  content: '\e84e';
}

.icon-gequ:before {
  content: '\e6ac';
}

.icon-icon:before {
  content: '\e651';
}

.icon-sandian:before {
  content: '\e7e3';
}

.icon-notfind01:before {
  content: '\e64c';
}

.icon-zanwuguanzhu:before {
  content: '\e63e';
}

.icon-meiyouzhaodao:before {
  content: '\e624';
}

.icon-wodeguanzhu-zanwuguanzhu:before {
  content: '\e625';
}

.icon-faxian:before {
  content: '\e660';
}

.icon-qingchu:before {
  content: '\e633';
}

.icon-gedan:before {
  content: '\e66a';
}

.icon-dongtai:before {
  content: '\e612';
}

.icon-geshou:before {
  content: '\e7f2';
}

.icon-yonghu1:before {
  content: '\e611';
}

.icon-chakantiezihuifu:before {
  content: '\e663';
}

.icon-qianshoushenpitongguo-xianxing:before {
  content: '\e891';
}

.icon-bohui:before {
  content: '\e610';
}

.icon-quanbutongguo:before {
  content: '\e752';
}

.icon-quanbubohui:before {
  content: '\e735';
}

.icon-shequ-jihuo:before {
  content: '\e609';
}

.icon-dongtaiguanli:before {
  content: '\eaf2';
}

.icon-gongzuotai-dongtaishenhe:before {
  content: '\e677';
}

.icon-xiazai1:before {
  content: '\e606';
}

.icon-outline-audio-square:before {
  content: '\e6cb';
}

.icon-refresh:before {
  content: '\e675';
}

.icon-chuangjianv:before {
  content: '\e619';
}

.icon-songbook_mv:before {
  content: '\e66b';
}

.icon-xiugai:before {
  content: '\e60f';
}

.icon-bofanganniu:before {
  content: '\e726';
}

.icon-bofang1:before {
  content: '\e623';
}

.icon-shanchu:before {
  content: '\e643';
}

.icon-tianjia:before {
  content: '\e614';
}

.icon-sousuo:before {
  content: '\e721';
}

.icon-xihuan:before {
  content: '\e8c3';
}

.icon-fenxiang:before {
  content: '\e64f';
}

.icon-review:before {
  content: '\e62c';
}

.icon-shoucang:before {
  content: '\e661';
}

.icon-xiazai:before {
  content: '\e605';
}

.icon-shouye:before {
  content: '\e604';
}

.icon-bofang:before {
  content: '\e638';
}

.icon-zanting:before {
  content: '\e63a';
}

.icon-guanbi:before {
  content: '\e69e';
}

.icon-iconweiguanzhu:before {
  content: '\e626';
}

.icon-iconyiguanzhu:before {
  content: '\e62b';
}

.icon-zengjiatianjiajiahao:before {
  content: '\e62a';
}

.icon-yiguanzhu:before {
  content: '\e603';
}

.icon-bianji:before {
  content: '\e7e5';
}

.icon-huiyuan:before {
  content: '\e640';
}

.icon-paizhaoshangchuan1:before {
  content: '\e63b';
}

.icon-paizhaoshangchuan:before {
  content: '\e639';
}

.icon-yunshangchuan:before {
  content: '\e601';
}

.icon-maikefeng:before {
  content: '\e65f';
}

.icon-a-bianzu3beifen3:before {
  content: '\e629';
}

.icon-xiajiang:before {
  content: '\e691';
}

.icon-zengchang:before {
  content: '\e851';
}

.icon-yonghushuliang:before {
  content: '\e620';
}

.icon-jieshi:before {
  content: '\10214';
}

.icon-a-shezhi-shucaidanshezhi-copy:before {
  content: '\e628';
}

.icon-yinle:before {
  content: '\e600';
}

.icon-yonghu:before {
  content: '\e788';
}

.icon-bofangqi_shouyegequliebiao_:before {
  content: '\e613';
}

.icon-file-music:before {
  content: '\e647';
}

.icon-liebiao:before {
  content: '\eaf8';
}

.icon-yunyingguanli:before {
  content: '\e637';
}

.icon-resou:before {
  content: '\e61a';
}

.icon-tuichudenglu:before {
  content: '\e60b';
}

.icon-shenhe:before {
  content: '\e63c';
}

.icon-lunbotuguanli:before {
  content: '\e642';
}

.icon-shouyetuijianwei:before {
  content: '\e743';
}

.icon-yinleren:before {
  content: '\e602';
}

.icon-shuju:before {
  content: '\e627';
}
