/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; /* Project id 5061369 */
  src:
    url('//at.alicdn.com/t/c/font_5061369_qxqznwh1qt.woff2?t=1764074658654') format('woff2'),
    url('//at.alicdn.com/t/c/font_5061369_qxqznwh1qt.woff?t=1764074658654') format('woff'),
    url('//at.alicdn.com/t/c/font_5061369_qxqznwh1qt.ttf?t=1764074658654') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuju:before {
  content: '\e627';
}
